/* custom css */
/* !Rows, Widest to Thinest */
@media screen and (min-width: 1680px) {
  .gridlock .row { width: 1400px; }
}
@media screen and (max-width: 1679px) {
  .gridlock .row { width: 1200px; }
}
@media screen and (max-width: 1219px) {
.gridlock .row { width: 960px; }
}
@media screen and (max-width: 980px) {
  .gridlock .row { width: 720px; }
}
@media screen and (max-width: 740px) {
  .gridlock .row { width: 480px; }
}
@media screen and (max-width: 500px) {
  .gridlock .row { width: 92%; }
}

/* !Desktop - Default, 12 column, 1220 + 960 (min 980), IE Standard */
.gridlock .row [class*="desktop-"] {
    float: left;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
}
.gridlock .row .desktop-1 {
    width: 6.25%;
}

.gridlock .row .desktop-2 {
    width: 14.5833333333333333%;
}

.gridlock .row .desktop-2half {
    width: 17.9179677963256818%;
}


/* not default */

.gridlock .row .desktop-3 {
    width: 22.9166666666666667%;
}

.gridlock .row .desktop-4 {
    width: 31.25%;
}

.gridlock .row .desktop-5 {
    width: 39.5833333333333333%;
}

.gridlock .row .desktop-6 {
    width: 47.9166666666666667%;
}

.gridlock .row .desktop-7 {
    width: 56.25%;
}

.gridlock .row .desktop-8 {
    width: 64.5833333333333333%;
}

.gridlock .row .desktop-9 {
    width: 72.9166666666666667%;
}

.gridlock .row .desktop-10 {
    width: 81.25%;
}

.gridlock .row .desktop-11 {
    width: 89.5833333333333333%;
}

.gridlock .row .desktop-12 {
    width: 97.9166666666666667%;
}


/* Push Cells */

.gridlock .row .desktop-push-1 {
    margin-left: 9.375%;
}

.gridlock .row .desktop-push-2 {
    margin-left: 17.7083333333333333%;
}

.gridlock .row .desktop-push-3 {
    margin-left: 26.0416666666666667%;
}

.gridlock .row .desktop-push-4 {
    margin-left: 34.375%;
}

.gridlock .row .desktop-push-5 {
    margin-left: 42.7083333333333334%;
}

.gridlock .row .desktop-push-6 {
    margin-left: 51.0416666666666667%;
}

.gridlock .row .desktop-push-7 {
    margin-left: 59.375%;
}

.gridlock .row .desktop-push-8 {
    margin-left: 67.7083333333334%;
}

.gridlock .row .desktop-push-9 {
    margin-left: 76.0416666666668%;
}

.gridlock .row .desktop-push-10 {
    margin-left: 84.375%;
}

.gridlock .row .desktop-push-11 {
    margin-left: 92.7083333333335%;
}

/* !Generic, fractions */
.full-width { width: 100%; float: left; }

.gridlock .row .desktop-third {
    width: 31.25%;
}

.gridlock .row .desktop-half {
    width: 47.9166666666666667%;
}

.gridlock .row .desktop-full {
    width: 97.9166666666666667%;
}

.gridlock .row .desktop-push-third {
    margin-left: 34.375%;
}

.gridlock .row .desktop-push-half {
    margin-left: 51.0416666666666667%;
}


/* !Desktop - Max, 12 column, 1200 (min 1221) */

@media screen and (min-width: 1221px) {
    .gridlock .row .max-1 {
        width: 6.25%;
    }
    .gridlock .row .max-2 {
        width: 14.5833333333333333%;
    }
    .gridlock .row .max-3 {
        width: 22.9166666666666667%;
    }
    .gridlock .row .max-4 {
        width: 31.25%;
    }
    .gridlock .row .max-5 {
        width: 39.5833333333333333%;
    }
    .gridlock .row .max-6 {
        width: 47.9166666666666667%;
    }
    .gridlock .row .max-7 {
        width: 56.25%;
    }
    .gridlock .row .max-8 {
        width: 64.5833333333333333%;
    }
    .gridlock .row .max-9 {
        width: 72.9166666666666667%;
    }
    .gridlock .row .max-10 {
        width: 81.25%;
    }
    .gridlock .row .max-11 {
        width: 89.5833333333333333%;
    }
    .gridlock .row .max-12 {
        width: 97.9166666666666667%;
    }
    /* Push Cells */
    .gridlock .row .max-push-1 {
        margin-left: 9.375%;
    }
    .gridlock .row .max-push-2 {
        margin-left: 17.7083333333333333%;
    }
    .gridlock .row .max-push-3 {
        margin-left: 26.0416666666666667%;
    }
    .gridlock .row .max-push-4 {
        margin-left: 34.375%;
    }
    .gridlock .row .max-push-5 {
        margin-left: 42.7083333333333334%;
    }
    .gridlock .row .max-push-6 {
        margin-left: 51.0416666666666667%;
    }
    .gridlock .row .max-push-7 {
        margin-left: 59.375%;
    }
    .gridlock .row .max-push-8 {
        margin-left: 67.7083333333334%;
    }
    .gridlock .row .max-push-9 {
        margin-left: 76.0416666666668%;
    }
    .gridlock .row .max-push-10 {
        margin-left: 84.375%;
    }
    .gridlock .row .max-push-11 {
        margin-left: 92.7083333333335%;
    }
}


/* !Tablet, 6 column, 720 (min 739) */

@media screen and (min-width: 739px) and (max-width: 980px) {
    .gridlock .row [class*="desktop-push-"] {
        margin-left: 1.0416666666666667%;
        margin-right: 1.0416666666666667%;
    }
    .gridlock .row .tablet-1 {
        width: 14.5833333333333333%;
    }
    .gridlock .row .tablet-2 {
        width: 31.25%;
    }
    .gridlock .row .tablet-3 {
        width: 47.9166666666666667%;
    }
    .gridlock .row .tablet-4 {
        width: 64.5833333333333333%;
    }
    .gridlock .row .tablet-5 {
        width: 81.25%;
    }
    .gridlock .row .tablet-6 {
        width: 97.9166666666666667%;
    }
    /* Push Cells */
    .gridlock .row .tablet-push-1 {
        margin-left: 17.7083333333333333%;
    }
    .gridlock .row .tablet-push-2 {
        margin-left: 34.375%;
    }
    .gridlock .row .tablet-push-3 {
        margin-left: 51.0416666666666667%;
    }
    .gridlock .row .tablet-push-4 {
        margin-left: 67.7083333333334%;
    }
    .gridlock .row .tablet-push-5 {
        margin-left: 84.375%;
    }
    /* !Generic, fractions */
    .gridlock .row .tablet-third {
        width: 31.25%;
    }
    .gridlock .row .tablet-half {
        width: 47.9166666666666667%;
    }
    .gridlock .row .tablet-full {
        width: 97.9166666666666667%;
    }
    .gridlock .row .tablet-push-third {
        margin-left: 34.375%;
    }
    .gridlock .row .tablet-push-half {
        margin-left: 51.0416666666666667%;
    }
}


/* !Mobile, 3 column, 300 + 480 (max 740) */

@media screen and (max-width: 740px) {
    .gridlock .row [class*="desktop-push-"],
    .gridlock .row [class*="tablet-push-"] {
        margin-left: 1.0416666666666667%;
        margin-right: 1.0416666666666667%;
    }
    .gridlock .row .mobile-1 {
        width: 31.25%;
    }
    .gridlock .row .mobile-2 {
        width: 64.5833333333333333%;
    }
    .gridlock .row .mobile-3 {
        width: 97.9166666666666667%;
    }
    /* Push Cells */
    .gridlock .row .mobile-push-1 {
        margin-left: 34.375%;
    }
    .gridlock .row .mobile-push-2 {
        margin-left: 67.7083333333334%;
    }
    /* !Generic, fractions */
    .gridlock .row .mobile-third {
        width: 31.25%;
    }
    .gridlock .row .mobile-half {
        width: 47.9166666666666667%;
    }
    .gridlock .row .mobile-full {
        width: 97.9166666666666667%;
    }
    .gridlock .row .mobile-push-third {
        margin-left: 34.375%;
    }
    .gridlock .row .mobile-push-half {
        margin-left: 51.0416666666666667%;
    }
    #li-account-d {
        display: none !important;
    }
}

ul#nav {
  font-family: {{ settings.navigation-font.family }};
  /*background: {{ settings.navigation }};*/
  list-style: none;
  line-height: 40px;
}

ul#nav li {
  display: inline-block;
  position: relative;
}

ul#nav li.dropdown {
  padding-right: 10px;
}

ul#nav li:hover {
  color: #ffffff;
  background: #000000;
}
ul#nav li:hover.dropdown a.dlink:after, ul#nav li:hover.dropdown * {
  color: #ffffff;
}
ul#nav li a {  
  font-weight: bold;
  color: #ffffff;
  height: 40px;
  display: block;
  padding: 0 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 40px;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    line-height: 38px;
    height: 38px;
    outline: none;
    margin: 0;
    width: 100%;
    text-indent: 10px;
    display: block;
    margin-bottom: 20px;
    background: #fff;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #000;
    color: #000;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

textarea {
    min-height: 120px;
    width: 100%;
}

label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px;
    ;
    margin-bottom: 10px;
    margin-left: 2px;
}

form {
    margin-top: 20px;
}

body {
    /*shopify's colors*/
    background: rgb(244, 246, 248);
}

input[type="text"].search-input {
    width: calc(100% - 40px);
    display: inline-block;
}

.content {
    padding-top: 8%;
    margin: auto;
}

#error { max-height: 200px; max-width: 200px; }

#loading {
    height: auto;
    width: 80%;
    transition: 1s;
    display: block;
}

@media screen and (min-width: 740px) {
    #loading {
        padding-top: 8%;
        margin: auto;
    }
}

@media screen and (max-width: 740px) {
    #loading {
        margin: -30px auto 0px auto;
    }
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}